<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>meeting</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.zzuli.controler.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryDepartmentNameServlet</display-name>
    <servlet-name>QueryDepartmentNameServlet</servlet-name>
    <servlet-class>com.zzuli.controler.QueryDepartmentNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryDepartmentNameServlet</servlet-name>
    <url-pattern>/QueryDepartmentNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryEmployeeServlet</display-name>
    <servlet-name>QueryEmployeeServlet</servlet-name>
    <servlet-class>com.zzuli.controler.approveaccount.QueryEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryEmployeeServlet</servlet-name>
    <url-pattern>/QueryEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveaccountServlet</display-name>
    <servlet-name>ApproveaccountServlet</servlet-name>
    <servlet-class>com.zzuli.controler.approveaccount.ApproveaccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveaccountServlet</servlet-name>
    <url-pattern>/ApproveaccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployeeServlet</display-name>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <servlet-class>com.zzuli.controler.approveaccount.DeleteEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <url-pattern>/DeleteEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchemployeesServlet</display-name>
    <servlet-name>SearchemployeesServlet</servlet-name>
    <servlet-class>com.zzuli.controler.searchemployees.SearchemployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchemployeesServlet</servlet-name>
    <url-pattern>/SearchemployeesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CloseAccountServlet</display-name>
    <servlet-name>CloseAccountServlet</servlet-name>
    <servlet-class>com.zzuli.controler.searchemployees.CloseAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseAccountServlet</servlet-name>
    <url-pattern>/CloseAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.zzuli.controler.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotificationsServlet</display-name>
    <servlet-name>NotificationsServlet</servlet-name>
    <servlet-class>com.zzuli.controler.personalcenter.NotificationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotificationsServlet</servlet-name>
    <url-pattern>/NotificationsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotificationsServletTwo</display-name>
    <servlet-name>NotificationsServletTwo</servlet-name>
    <servlet-class>com.zzuli.controler.personalcenter.NotificationsServletTwo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotificationsServletTwo</servlet-name>
    <url-pattern>/NotificationsServletTwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MeetingDetailsServlet</display-name>
    <servlet-name>MeetingDetailsServlet</servlet-name>
    <servlet-class>com.zzuli.controler.personalcenter.MeetingDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeetingDetailsServlet</servlet-name>
    <url-pattern>/MeetingDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MeetingDetailsServletTwo</display-name>
    <servlet-name>MeetingDetailsServletTwo</servlet-name>
    <servlet-class>com.zzuli.controler.personalcenter.MeetingDetailsServletTwo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeetingDetailsServletTwo</servlet-name>
    <url-pattern>/MeetingDetailsServletTwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MybookingServlet</display-name>
    <servlet-name>MybookingServlet</servlet-name>
    <servlet-class>com.zzuli.controler.personalcenter.MybookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MybookingServlet</servlet-name>
    <url-pattern>/MybookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MymeetingdetailServlet</display-name>
    <servlet-name>MymeetingdetailServlet</servlet-name>
    <servlet-class>com.zzuli.controler.personalcenter.MymeetingdetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MymeetingdetailServlet</servlet-name>
    <url-pattern>/MymeetingdetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancleMeetingServlet</display-name>
    <servlet-name>CancleMeetingServlet</servlet-name>
    <servlet-class>com.zzuli.controler.personalcenter.CancleMeetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancleMeetingServlet</servlet-name>
    <url-pattern>/CancleMeetingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyMeetingServlet</display-name>
    <servlet-name>MyMeetingServlet</servlet-name>
    <servlet-class>com.zzuli.controler.personalcenter.MyMeetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyMeetingServlet</servlet-name>
    <url-pattern>/MyMeetingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertDepartmentServlet</display-name>
    <servlet-name>InsertDepartmentServlet</servlet-name>
    <servlet-class>com.zzuli.controler.InsertDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertDepartmentServlet</servlet-name>
    <url-pattern>/InsertDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryDepartmentServlet</display-name>
    <servlet-name>QueryDepartmentServlet</servlet-name>
    <servlet-class>com.zzuli.controler.QueryDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryDepartmentServlet</servlet-name>
    <url-pattern>/QueryDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDepartmentServlet</display-name>
    <servlet-name>UpdateDepartmentServlet</servlet-name>
    <servlet-class>com.zzuli.controler.UpdateDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDepartmentServlet</servlet-name>
    <url-pattern>/UpdateDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDepartmentServlet</display-name>
    <servlet-name>DeleteDepartmentServlet</servlet-name>
    <servlet-class>com.zzuli.controler.DeleteDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDepartmentServlet</servlet-name>
    <url-pattern>/DeleteDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMeetingRoomServlet</display-name>
    <servlet-name>AddMeetingRoomServlet</servlet-name>
    <servlet-class>com.zzuli.controler.meetingbook.AddMeetingRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMeetingRoomServlet</servlet-name>
    <url-pattern>/AddMeetingRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuerryAllMeetingRoomServlet</display-name>
    <servlet-name>QuerryAllMeetingRoomServlet</servlet-name>
    <servlet-class>com.zzuli.controler.meetingbook.QuerryAllMeetingRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuerryAllMeetingRoomServlet</servlet-name>
    <url-pattern>/QuerryAllMeetingRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuerrySingleServlet</display-name>
    <servlet-name>QuerrySingleServlet</servlet-name>
    <servlet-class>com.zzuli.controler.meetingbook.QuerrySingleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuerrySingleServlet</servlet-name>
    <url-pattern>/QuerrySingleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRoomServlet</display-name>
    <servlet-name>UpdateRoomServlet</servlet-name>
    <servlet-class>com.zzuli.controler.meetingbook.UpdateRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRoomServlet</servlet-name>
    <url-pattern>/UpdateRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryEmployeeByDidServlet</display-name>
    <servlet-name>QueryEmployeeByDidServlet</servlet-name>
    <servlet-class>com.zzuli.controler.meetingbook.QueryEmployeeByDidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryEmployeeByDidServlet</servlet-name>
    <url-pattern>/QueryEmployeeByDidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MeetingBookServlet</display-name>
    <servlet-name>MeetingBookServlet</servlet-name>
    <servlet-class>com.zzuli.controler.meetingbook.MeetingBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeetingBookServlet</servlet-name>
    <url-pattern>/MeetingBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchMeetingServlet</display-name>
    <servlet-name>SearchMeetingServlet</servlet-name>
    <servlet-class>com.zzuli.controler.meetingbook.SearchMeetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMeetingServlet</servlet-name>
    <url-pattern>/SearchMeetingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOutServlet</display-name>
    <servlet-name>LoginOutServlet</servlet-name>
    <servlet-class>com.zzuli.controler.LoginOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOutServlet</servlet-name>
    <url-pattern>/LoginOutServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>com.zzuli.controler.filter.LoginFilter</filter-class>
    <init-param>
      <param-name>login</param-name>
      <param-value>/meeting/index.jsp;/meeting/jsp/login.jsp;/meeting/jsp/register.jsp;register_imp.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>include</param-name>
      <param-value>.jsp;MyMeetingServlet;QuerryAllMeetingRoomServlet</param-value>
    </init-param>
    <init-param>
      <param-name>redirectPath</param-name>
      <param-value>/index.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>disabletestfilter</param-name>
      <param-value>N</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CheckPwdServlet</display-name>
    <servlet-name>CheckPwdServlet</servlet-name>
    <servlet-class>com.zzuli.controler.CheckPwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckPwdServlet</servlet-name>
    <url-pattern>/CheckPwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePwdServlet</display-name>
    <servlet-name>ChangePwdServlet</servlet-name>
    <servlet-class>com.zzuli.controler.ChangePwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePwdServlet</servlet-name>
    <url-pattern>/ChangePwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUserNameServlet</display-name>
    <servlet-name>CheckUserNameServlet</servlet-name>
    <servlet-class>com.zzuli.controler.CheckUserNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserNameServlet</servlet-name>
    <url-pattern>/CheckUserNameServlet</url-pattern>
  </servlet-mapping>
</web-app>